<div class="container">    
  <header>
      <h1>MJV School</h1>
      <div class="header-title-container">            
          <h2><span>A</span>ngular</h2>
          <div class="header-angular-logo"></div>
      </div>
      
      
  </header>
  
  <main>
      <section class="section-top">
          <h3>Exercício 1:</h3>
          <h2>Hello World</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident autem facilis veniam expedita, cupiditate suscipit? Ea, velit! Laborum perferendis dignissimos commodi qui laudantium vel? Numquam voluptatem accusantium temporibus dicta aperiam corporis culpa aut dignissimos.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ab, vitae atque fugit explicabo mollitia, laudantium iste eum officiis eos ex laboriosam perferendis nobis saepe blanditiis nostrum aut pariatur labore!</p>
      </section>      
      <section class="section-bottom">
          <div class="section-bottom-box">
              <h3>Lorem, ipsum dolor.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam nobis veniam iure vel!</p>
          </div>
          <div class="section-bottom-box">
              <h3>Lorem, ipsum.</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, cum eligendi temporibus voluptatibus consectetur magnam distinctio.</p>

          </div>
      </section>
  </main>
  <footer>
      <a href="https://github.com/leommaier" target="_blank">https://github.com/leommaier</a>      
  </footer>
</div>